{% extends "base.html" %}

{% block content %}
<h2 class="heading">Mostly, I like to make and share things.</h2>
        <section class="blog_key">
                <div class="catbutton cat_cross_stitch">Cross Stitch</div>
                <div class="catbutton cat_tech_projects">Tech Projects</div>
                <div class="catbutton cat_recipe">Recipes</div>
                <div class="catbutton cat_photography">Photography</div>
                <div class="catbutton cat_jewelry">Jewelry Crafts</div>
                <div class="catbutton cat_writing">Writing</div>
        </section>
        <div class="blogwrap">
          <section class="blog">
            <article class="blog_main artcl">
              <h5>The Cat Wants Breakfast</h5>
              <p>
                "The Cat Wants Breakfast" is a small text game I made, that is
                built using Twinery. It is inspired by one of our cats, Nano,
                who makes waking us up her self-appointed role. It's a short
                game that takes about ten minutes to play. I made it as a test,
                to see how Twinery worked, and am planning to make longer text
                games in the future...
                <a href="The_Cat_Wants_Breakfast.html">Start Playing</a>
              </p>
              <div class="catgs">
                <div class="catbutton cat_tech_projects">Tech Projects</div>
                <div class="catbutton cat_writing">Writing</div>
              </div>
            </article>
            <article class="blog_main artcl">
              <h5>More Resume Details</h5>
              <p>
                As a way to expand on and explain some of the different roles you'll see on my resume, I've written up an article, detailing those experiences a little further. If you would like to see a more traditional outline, you're invited to view that <a href="working.html">here</a>, which also includes a download link for a one-page PDF version.
                <a href="post/resume_article.html">Read More</a>
              </p>
              <div class="catgs">
                <div class="catbutton cat_writing">Writing</div>
              </div>
            </article>
            <article class="blog_main artcl">
              <h5>Apple Dumplings</h5>
              <p>
                I haven't changed this recipe very much since I found it online
                years ago, so I can't take full credit for how magical it is.
                I've also lost track of where I found the original recipe,
                sadly. However, I'll include my notes and thoughts on how I've
                made my own changes to it since then. The prep takes a few
                hours, and if you have helpers it will be much easier...
                <a href="post/appledumplings.html">Read More</a>
              </p>
              <div class="catgs">
                <div class="catbutton cat_recipe">Recipes</div>
              </div>
            </article>
            <article class="blog_main artcl">
              <h5>Free Cross Stitch Patterns</h5>
              <p>
                Here's a gallery of some of the things I've made, and two simple
                cross stitch designs I've put together that you can download for
                free. I hope you enjoy! If you're interested in learning to
                cross stitch, I recommend checking out Sirithre's
                <a href="http://sirithre.com/cross-stitch-reviews-tutorials/"
                  >tutorials</a
                >. They helped me learn quickly, and she has a discord you can
                pop into, for community and inspiration...<a
                  href="post/crossstitch_081621.html"
                  >Read More</a
                >
              </p>
              <div class="catgs">
                <div class="catbutton cat_cross_stitch">Cross Stitch</div>
<div class="catbutton cat_photography">Photography</div>
              </div>
            </article>
            <article class="blog_main artcl">
              <h5>Stuffed Peppers</h5>
              <p>
                This is a good weeknight recipe, and depending on how much you
                make, usually lasts about three or 4 dinners. I usually have
                leftover filling, that you can freeze for future meals. For
                freezing, I suggest putting it in a freezer bag, flatten it out,
                and freeze it as a sheet so it's easier to reheat by baking. You
                can of course add ground meat, or fake meat for added texture if
                you'd like...
                <a href="post/stuffedpeppers.html">Read More</a>
              </p>
              <div class="catgs">
                <div class="catbutton cat_recipe">Recipes</div>
              </div>
            </article>

            <article class="blog_main artcl">
              <h5>Where To Next</h5>
              <p>
                Where To Next is a travel blog I made as a final project for my
                first Web Design class. When class finished, I decided to keep
                working on it, and update it as I got more into how to build up
                a site. The galleries here focus on places I've traveled to, and
                the stories I brought home with me...<a
                  href="https://wtn.harmonie.dev/"
                  >Read More</a
                >
              </p>
              <div class="catgs">
                <div class="catbutton cat_photography">Photography</div>
                <div class="catbutton cat_tech_projects">Tech Projects</div>
                <div class="catbutton cat_writing">Writing</div>
              </div>
            </article>
            <article class="blog_main artcl">
              <h5>The Ramen Experiment</h5>
              <p>
                Like many others stuck in their homes in early covid-times, I
                decided to learn how to cook something new. For us, ramen came
                up as a strong idea, since we had come back from Japan a few
                months earlier, and New England spring is all over the
                temperture spectrum. So, I studied the ramen recipes at Serious
                Eats, and went for it. I've made a collection of my notes on
                what worked for us here... <a href="">Read More</a>.
              </p>
              <div class="catgs">
                <div class="catbutton cat_recipe">Recipes</div>
                <div class="catbutton cat_writing">Writing</div>
                <div class="catbutton cat_photography">Photography</div>
              </div>
            </article>
          </section>

          <aside class="sidebar">
            <div class="sidebarsquare">
              <img
                src="static/img/agate_bracelet_wrapped2.png"
                alt="agate and twine bracelet"
              />
            </div>
            <div class="sidebarsquare">
              <img
                src="static/img/florabellatest_small.png"
                alt="testing led strips to make my own florabella"
              />
            </div>
            <div class="sidebarsquare">
              <img
                src="static/img/maine_sandals_dock.png"
                alt="some blue sandals on a blanket overlooking a lake"
              />
            </div>
            <div class="sidebarsquare">
              <img
                src="static/img/ramen_bowl.png"
                alt="closeup of a bowl of homemade ramen"
              />
            </div>
            <div class="sidebarsquare">
              <img
                src="static/img/thinkquick_biscornu_small.png"
                alt="a cross stitch biscornu decorated with designs from a 90s video game"
              />
            </div>
            <div class="sidebarsquare">
              <img
                src="static/img/catbug_leaf.png"
                alt="a stuffed animal (catbug) holding a leaf in the grass"
              />
            </div>
          </aside>
        </div>

{% endblock %}