{% extends "base.html" %}

{% block content %}

<section id="page">
        <h2 class="heading">Mostly, I like to make and share things.</h2>
        <div class="desgngrid">
          <section class="mom_quote"><div class="mom_quote_text">"My beautiful sweetpea daughter is amazing and also beautiful. She is really good at the internet."</div><br><div class="mom_quote_credit">- Harmonie's mom, 2021</div></section>
          <section class="intro">
            <article class="introtext">
              <p>This isn't a real quote, but I'm reasonably sure that if I left my mom alone with my website files, something like this would show up mysteriously soon after. Mostly, I just try to make designs that work well with accessibility devices, and structure the content so it's interesting to interact with.</p><p>Sometimes, that does mean taking a less-is-more approach, like avoiding the temptation to use <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/marquee">"marquee"</a> liberally, or have the page suddenly start playing <a href="http://www.neilcic.com/">Neil Cicierega.</a> We're all friends here, and friends only do those sort of things when they give you a heads-up <a href="bad_ideas.html">first</a>.</p>
            <p>If you're curious about the work I've done during my time at UML, take a look at the designs below. They've allowed me to experiment with logo design, color schemes, and site structure. I also took courses in Python and web databases, since I was curious about the other parts of web development. This gave me a taste of what it's like to work with SQL, C, and good 'ol Python. I go into more detail about this over on my <a href="working.html" target="_blank">resume</a>.</p>
          </article>
            <aside class="introimg">
              <img src="static/img/stick_figure.png" alt="stick figure" class="" />
            </aside>
          </section>
          <section class="sites_dy_hd"><h2>Active Designs</h2></section>
          <section class="sites_dy">
            <div class="sitethumb">
              <a href="https://harmonie.is/uml/index.html" target="_blank"
                ><img src="static/img/UML_courseworksite_f.png" alt="coursework site"
              /></a>
              <h3>UML Coursework</h3>
              This is a place where I post the results of weekly coursework, as well as project info, during the semester. Most work needs to be posted to a class board, so I decided to make a live site I could link to. Any upcoming classes will also have their own section if the coursework requires it. 
            </div>
            <div class="sitethumb">
              <a href="https://wtn.harmonie.dev/" target="_blank">
                <img src="static/img/WTN_frontpage.png" alt="where to next frontpage"
              /></a>
              <h3>Where To Next?</h3>
              Where To Next is a photo blog I started in Fall 2020, when I started working on my Web Design studies. It was inspired as a way to enjoy memories from before the Covid lockdown in my area, and I plan to continue to update and improve the site structure, as well as add future galleries. 
            </div>
            <div class="sitethumb">
              <a href="">
                <img src="static/img/harmonie_is_site.png" alt="Harmonie site frontpage"
              /></a>
              <h3>harmonie.is</h3>
              This site, in fact! Harmonie.is stands as my home on the internet, and it has gone through a few iterations as my skill improves. I intend to maintain and build out this site over time, making a blog space for projects, as well as a place to show and share portfolio items.
            </div>
          </section>
          <section class="sites_st_hd"><h2>Completed Designs</h2></section>
          <section class="sites_st"><div class="sitethumb">
              <a href="https://harmonie.is/uml/AWD/8bithops/index.html" target="_blank">
                <img src="static/img/8bithops_frontpage.png" alt="8bithops frontpage"
              /></a>
              <h3>8Bit Hops</h3>
              8Bit Hops was a class project site, designed for a course I took in Spring 2021. It was designed to be a mockup of a business's website, to help their customers connect and engage with the business. I decided on a Brewery with an arcade/live music space, mostly further inspired by hopeful thoughts of post-Covid fun.
            </div><div class="sitethumb">
              <a href="https://harmonie.is/uml/JS/Project/index.html" target="_blank">
                <img src="static/img/JS_projectsite.png" alt="Javascript site frontpage"
              /></a>
              <h3>Javascript Coursework Site</h3>
              This site was built as a Final Project for an Intro to Javascript course I took in Spring 2021. The goal was to display different webpage elements for which Javascript was used for both function and user interaction. I especially enjoyed making a gallery of grayscale photos that changed to vibrant color on mouseover.
            </div> 
            <div class="sitethumb">
              <a href="https://harmonie.is/uml/WebDev/wk7/seeds/home.html" target="_blank">
                <img src="static/img/SoS_site_mockup.png" alt="Seeds of Solidarity site frontpage"
              /></a>
              <h3>Seeds of Solidarity Site</h3>
              This site was put together as the main project for my Web Development class. The process for making it was specifically laid out over the course of the class, with feedback throughout. We picked from a list of real non-profits, and redesigned a website for them, based on their content. The real site for Seeds of Solidarity is <a href="https://seedsofsolidarity.org/" target="_blank">here</a>.
            </div> 
          </section>
        </div>
      </section>

{% endblock %}