{% extends 'base.html' %}

{% block content %}

<div class="frontIntro">
          <img src="/static/img/20191122_122301.jpg" alt="a leaf in my hair" />
          <article>
            <h4>Hello! It's nice to meet you. boop</h4>
            <p>
              My name is Harmonie Snow, and this website is a place to share both my personal and professional projects. I'm a graduate of UMass Lowell, with a Bachelor's in Information Technology. I focused on Web Design and Development, and now I'm using those skills to make things. Feel free to take a look around, and if you need to contact me, please find me on any of the social media sites I've linked.</p><br>
              <div class="acnh_info"><h4>Animal Crossing: New Horizons</h4><ul><li>Dream Address: DA-2294-7165-9271</li><li>Happy Home Network ID: RA-3029-7650-8917</li></ul></div>
          </article></div><br>
        <section class="frontImgs">
          <img src="/static/img/IMG_20190830_114324_3884.png" alt="an agate and twine bracelet" />
          <img src="/static/img/8bit_DOM_tree.png" alt="an example of html code" />
          <img src="/static/img/20190121_205415.png" alt="nano, vibing out" />
          <img src="/static/img/IMG_20190825_144625_800.jpg" alt="some sandals on a dock in maine, by a lake" />
          <img src="/static/img/20200915_202711.png" alt="some homemade ramen" />
          <img src="/static/img/florabellatest.png" alt="a florabella chip and some rainbow leds" />
          <img src="/static/img/IMG_20190423_191710_117_s.png" alt="a think quick themed biscornu" />
          <img src="/static/img/20191104_124018.png" alt="Osaka, Japan" />
        </section>

{% endblock %}