    <div class="navLinks">
          <ul class="navLinks">
            <li>
              <a href="index.html"><img src="/static/img/Logo_HS.png" alt="logo" /></a>
            </li>
            <li class="navbutton"><a href="blogging.html">Blog</a></li>
            <li class="navbutton"><a href="designing.html">Designs</a></li>
            <li class="navbutton"><a href="working.html">Resume</a></li>
            <li class="navbutton"><a href="styleguide.html">Style Guide</a></li>
          </ul>
        </div>
        <div class="social">
          <ul class="socialList">
            <li>
              <a href="https://www.facebook.com/harmonie.perry"
                ><img src="/static/img/fb_iconfinder-icon.svg" alt="Facebook"
              /></a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/harmonie-snow/"
                ><img src="/static/img/link_iconfinder-icon.svg" alt="Linkedin"
              /></a>
            </li>
            <li>
              <a href="https://twitter.com/PicoTala"
                ><img src="/static/img/twt_iconfinder-icon.svg" alt="Twitter"
              /></a>
            </li>
            <li>
              <a href="https://www.instagram.com/picotala/"
                ><img src="/static/img/insta_iconfinder-icon.svg" alt="Instagram"
              /></a>
            </li>
            <li>
              <a href="https://github.com/PicoTala"
                ><img src="/static/img/gthb_iconfinder-icon.svg" alt="Github"
              /></a>
            </li>
            <li>
              <a href="https://www.etsy.com/shop/WritersBlockCrafts"
                ><img src="/static/img/etsy-logo.png" alt="Etsy"
              /></a>
            </li>
          </ul>
        </div>
