{% extends "base.html" %}

{% block content %}
<h2 class="heading">Mostly, I like to make and share things.</h2>
<div class="res_intro">
          <div class="res_intro_text"><p>This is my long-form resume, with every bit of information I can offer in terms of my education, work and volunteer efforts. If you are looking for a one page PDF of my resume, with just the highlights, you can click on the PDF icon to download one.</p><p>If instead, you're looking for even more detail than you see below, click on the icon of an open book. You'll be treated to what is essentially an interview of myself, by myself, and explains the different connections between each of the items below.</p></div>
        <div class="res_intro_pdf"><a href="static/HSnowResume_2024.pdf"><img src="static/img/pdf_2108851.png" alt="an icon of a pdf document" ></a></div>
        <div class="res_intro_read"><a href="post/resume_article.html"><img src="static/img/reading_3098103.png" alt="an icon showing two hands holding up a book, with multicolored sparkles around them"></a></div>
        </div>
        <section class="resume">
          <div class="section_heading"><h2>Education</h2><img src="static/img/education_4207253.png" alt="an icon of a stack of books, with a graduation cap on top" class="res_section_icon"></div>
          
        <div class="schoolgrid">
          <section class="UMass">
            <h3 class="res_school">UMass Lowell</h3>
              <h4 class="res_degree1">Bachelor of Science in Information Technology</h4>
              <h4 class="res_dates1">Graduated Spring 2024</h4>
              <h4 class="res_degree2">Associate of Science in Information Technology</h4>
              <h4 class="res_dates2">Graduated Spring 2023</h4>
              <h4 class="res_degree3">Certificate Program in Website Design & Development</h4>
              <h4 class="res_dates3">Awarded in Fall 2021</h4>
          </section>
          <br>
          <div class="addtl_courses">
          <section class="MCC">
            <h4 class="res_schools">Middlesex Community College</h4>
              <h5 class="res_program">Business Administration Major</h5>
          </section>
          <section class="CCBC">
            <h4 class="res_schools">Community College of Baltimore County</h4>
              <h5 class="res_program">Business Administration Major</h5>
          </section>
          <section class="UMBC">
            <h4 class="res_schools">University of Maryland, Baltimore County</h4>
              <h5 class="res_program">Interdisciplinary Studies Major: English & Business</h5>  
          </section>
          <section class="CSM">
            <h4 class="res_schools">College of Southern Maryland</h4>
              <h5 class="res_program">English Major</h5>
          </section></div>
        </div>
        <br>
        <div class="section_heading"><h2>Work Experience</h2><img src="static/img/workspace_12204052.png" alt="an icon of a desk, with a chair that is tucked in, a computer screen and a healthy plant" class="res_section_icon">
        </div>
          
        <div class="workgrid">
          <section class="work_one">
            <div class="job_heading">
            <h3 class="res_company">IFS Core</h3>
            <h4 class="res_title">Customer Success Specialist</h4>
            <h4 class="res_dates">2018 to 2019</h4></div>
            <p class="res_descrpt">Maintained a responsive help desk system via both email & phone using Zendesk. Assisted business partners with client setup & product training for Sage & IFS Core Products. Reported software bugs & enhancements using Jira. Assisted in software testing & QA for Product Development. Contributed to software release planning discussions. Maintained On-Call support off-hours. Programmed office phones & managed Fonality setup.</p>
            <p class="res_skills">Skills: Product knowledge, Sage 100 & Sage 300 CRE, Customer Management, Software Testing & QA, Training, Client & Infrastructure Support, Release & Sprint Testing</p>
          </section>
          <section class="work_two">
            <div class="job_heading">
            <h3 class="res_company">Constant Contact</h3>
            <h4 class="res_title">Campaign Design Specialist</h4>
            <h4 class="res_dates">2014 to 2017</h4></div>
            <p class="res_descrpt">Developed & delivered branded, specialized, mobile-friendly email marketing templates for small businesses. Anticipated marketing needs & provided useful, related design elements. Designed email marketing campaigns compliant with all major email clients, including Outlook & Webmail. Utilized marketing data to cross-promote other internal design products, with a focus on both sales metrics & customer success.</p>
            <p class="res_skills">Skills: HTML & CSS, Photoshop & other image editors, Mobile Template Design, Color Theory, Social Media, Marketing</p>
            <div class="job_heading_extra">
            <h4 class="res_title_extra">Customer Engagement Specialist</h4>
            <h4 class="res_dates_extra">2013 to 2014</h4></div>
            <p class="res_descrpt">Created & implemented an ADA-compliant policy across the entire organization, covering 35,000 attendees. Recruited talent to build a fully staffed & responsive team. Ensured a quality experience for Make-A-Wish V.I.Ps. Created sensitivity training briefs on M.A. material for other member-facing teams.</p>
            <p class="res_skills">Skills: Ability to work effectively in a high stress environment; Empathetic & confidential handling of sensitive issues; Event Planning & Implementation; Knowledge of ADA, Crowd Management, & HIPAA</p>
          </section>
          <section class="work_three">
            <div class="job_heading">
            <h3 class="res_company">Verizon Wireless</h3>
            <h4 class="res_title">Universal Care Technician & Trainer</h4>
            <h4 class="res_dates">2010 to 2013</h4></div>
            <p class="res_descrpt">Drove sales by providing quality Customer Service. Led thrice weekly 90 minute workshops for new smartphone users. Managed & corrected store inventory. Ensured accuracy of displays & materials in accordance with current promotions. Developed a new training presentation, focused on helping new smartphone users, for sales use in other districts. Created boards & posters to support internal sales goals and contests.</p>
            <p class="res_skills">Skills: Management of a high volume store, Developing Training Materials, Teaching Bi-Weekly Workshops, Remaining updated on capabilities of major mobile OS platforms, Conflict resolution while face to face, Building rapport & repeat business.</p>
            <div class="job_heading_extra">
            <h4 class="res_title_extra">Customer Support Agent</h4>
            <h4 class="res_dates_extra">2005 to 2010</h4></div>
            <p class="res_descrpt">Over 4 years’ experience in a fast paced inbound call center environment. Recognized for being one of the few to maintain a 0.75% churn rate in August 2008. Assisted with the training of new employees. Achieved a Leading rating with regard to low transfer rate to Tier 2. Created trainings for peers based on experience in other departments. Assisted with escalations and major account issues. Participated in focus groups tasked with monitoring call trends.</p>
            <p class="res_skills">Skills: Conflict Resolution & De-Escalation Strategies, Commitment to Customer Satisfaction, Billing Systems, Data & Spreadsheet Management. </p>
          </section>
          <section class="work_four">
            <div class="job_heading">
            <h3 class="res_company">Mercantile Southern MD Bank</h3>
            <h4 class="res_title">Bank Teller</h4>
            <h4 class="res_dates">2004 to 2005</h4></div>
            <p class="res_descrpt">Maintained a high level of accuracy in daily work. Trained in security protocols needed in case of emergency. Provided a quality experience for customers. Handled deposits for local businesses exceeding $500k. Prepared weekly Federal Reserve deposits and deliveries.</p>
            <p class="res_skills">Skills: Discretion & accuracy when dealing with large sums of money. Ability to remain calm in high risk scenarios. Consistent adherence to security proceduces to protect customer's information. Projecting a pleasant &helpful demeanor.</p>
          </section>
          <section class="work_five">
            <div class="job_heading">
            <h3 class="res_company">Albin O. Kuhn Library at UMBC</h3>
            <h4 class="res_title">Student Assistant</h4>
            <h4 class="res_dates">2002 to 2004</h4></div>
            <p class="res_descrpt">Catalogued materials submitted by professors for use by students. Recorded media on older formats to newer formats for archiving. Performed maintenance on department equipment. Edited the University catalog to reflect new or retiring media assets. Play-tested flash software to ensure proper operation on Media Desk computers. </p>
            <p class="res_skills">Skills: Priority management & organizational skills. Profciency with older forms of media & equipment.</p>
          </section>
          <section class="work_six">
            <div class="job_heading">
            <h3 class="res_company">Fishing Creek Landings Marina</h3>
            <h4 class="res_title">Store Clerk & Assistant Bookkeeper</h4>
            <h4 class="res_dates">1998 to 2002</h4></div>
            <p class="res_descrpt">Ran the Marina store & recorded daily bank deposits. Issued State fishing licenses. Managed monthly slip accounts & contacted customers with balances due. Recorded daily gas tank volume. Helped maintain a clean Marina that was recognized as part of a Statewide Initiative. Performed secretarial work & answered Marina mail. Operated machinery to assist with regular yard work.</p>
            <p class="res_skills">Skills: Keeping clear & concise records relating to inventory & customer orders. Transcribing messages & activating order statuses for a work crew. Ability to undertake an unfamiliar task & see it through. Observance of marine laws regarding waste, gas tank maintenance, & bait disposal.</p>
          </section>
        </div>
        <br>
        <div class="section_heading"><h2>Hobbies & Volunteer Work</h2><img src="static/img/diversity_8034775.png" alt="an icon, showing a smiling heart in the middle of four outstretched hands. each hand has a different skin tone." class="res_section_icon"></div>
        <div class="hobbygrid">
          <section class="hobby_one">
            <div class="hobby_heading">
            <h3 class="res_company">Otakorp, Inc</h3>
            <h4 class="res_title">Head of Member Accessibility</h4>
            <h4 class="res_dates">2013 to 2017</h4></div>
            <p class="res_descrpt">Created & implemented an ADA-compliant policy across the entire organization, covering 35,000 attendees. Recruited talent to build a fully staffed & responsive team. Ensured a quality experience for Make-A-Wish V.I.Ps. Created sensitivity training briefs on M.A. material for other member-facing teams. Upon convention move to D.C. from Baltimore, updated & retrained all staffers in keeping with updated facility & district regulations.</p>
            <p class="res_skills">Skills: Ability to work effectively in a high stress environment; Empathetic & confidential handling of sensitive issues; Event Planning & Implementation; Knowledge of ADA, Crowd Management, & HIPAA</p>
          </section>
          <section class="hobby_two">
            <div class="hobby_heading">
            <h3 class="res_company">Pretty Little Sparkles on Etsy</h3>
            <h4 class="res_title">Owner</h4>
            <h4 class="res_dates">2010 to Current</h4></div>
            <p class="res_descrpt">Developed & designed jewelry with an eye for longterm wearing. Created marketing materials, such as banners & logos. Handled shipping & customer messages. Swapped out inventory to match seasonal trends. Explored & curated unique craft supplies.</p>
            <p class="res_skills">Skills: Origami, Cross stitch, Jewelry-making, Graphic Design, Marketing, Inventory & supply management.</p>
          </section>
        </div>
      </section>

{% endblock %}