{% extends "base.html" %}

{% block content %}

<h2 class="heading">Mostly, I like to make and share things. ദ്ദി(˵ •̀ ᴗ - ˵ )</h2>
<div class="advent_intro">
    <div class="advent_intro_text">
        <h4>Hello</h4>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae numquam repellat illum assumenda doloremque maxime ratione magnam quae, saepe error, laboriosam quas quis corporis vero ipsa. Perferendis quas praesentium vero!</p>
    </div>
</div>
<div class="advent_back">
<section class="advent_cal the-girl-next-door-regular">
  <div class="one advent_cal_block"><p>1</p></div>
  <div class="two advent_cal_block"><p>2</p></div>
  <div class="three advent_cal_block"><p>3</p></div>
  <div class="four advent_cal_block">4</div>
  <div class="five advent_cal_block">5</div>
  <div class="six advent_cal_block">6</div>
  <div class="seven advent_cal_block">7</div>
  <div class="eight advent_cal_block">8</div>
  <div class="nine advent_cal_block">9</div>
  <div class="ten advent_cal_block">10</div>
  <div class="eleven advent_cal_block">11</div>
  <div class="twelve advent_cal_block">12</div>
  <div class="thirteen advent_cal_block">13</div>
  <div class="fourteen advent_cal_block">14</div>
  <div class="fifteen advent_cal_block">15</div>
  <div class="sixteen advent_cal_block">16</div>
  <div class="seventeen advent_cal_block">17</div>
  <div class="eighteen advent_cal_block">18</div>
  <div class="nineteen advent_cal_block">19</div>
  <div class="twenty advent_cal_block">20</div>
  <div class="twentyone advent_cal_block">21</div>
  <div class="twentytwo advent_cal_block">22</div>
  <div class="twentythree advent_cal_block">23</div>
  <div class="twentyfour advent_cal_block">24</div>
</div>
</section></div>
{% endblock %}