{% extends 'base.html' %}

{% block content %}
<!--has own formatting, does not use "standard page" CSS class-->
<h2 class="heading">Mostly, I like to make and share things. -ˋˏ✄┈┈┈┈┈┈┈┈┈┈┈ </h2>
<div class="crossstitch_display">
          <div class="block1 cs_shadow"></div>
          <div class="block2 cs_shadow"></div>
          <div class="block3 cs_shadow"></div>
          <div class="block4 cs_shadow"></div>
          <div class="block5 cs_shadow"></div>
          <div class="block6 cs_shadow"></div>
          <div class="block7 cs_shadow"><div class="block7_text">
			
			<p>I picked up cross stitch in late 2018, when my grandmother gifted me all her embroidery supplies. I looked around for something fun to make and found <a href="https://twitter.com/sirithre">Sirithre's</a> <a href="https://www.fangamer.com/products/stardew-valley-cross-stitch">"Stardew Valley Cross Stitch Guide"</a>. One green junimo and friends later (seen below), I was hooked.</p>
          <p>Now, I tend to lurk in Sirithre's <a href="https://discord.me/pixelstitch">discord</a>, and encourage people to try making <a href="http://sirithre.com/biscornu-tutorial-making-a-cross-stitch-pin-cushion/">biscornu</a> for my own selfish enjoyment. I've also tried my hand at designing a few simple patterns, such as a biscornu modeled after <a href="https://www.myabandonware.com/game/think-quick-26e">Think Quick</a> sprites and some cat slimes for a friend's indie game, <a href="https://twitter.com/nickavv">Song of Asirra.</a></p>
        <p>Free Pattern: <a href="/static/Think_Quick_Cross_Stitch_patterns.zip" download>Think Quick biscornu with additional patterns</a></p>
     </div></div>
          <div class="block8 cs_shadow"></div>
          <div class="block9 cs_shadow"></div>
          <div class="block10 cs_shadow"></div>
          <div class="block11 cs_shadow"></div>
          <div class="block12 cs_shadow"></div>
          <div class="block13 cs_shadow"></div>
        </div>
      </section>
</div>
</div>

{% endblock %}