{% extends 'base.html' %}

{% block content %}
<h2 class="heading">Mostly, I like to make and share things. ദ്ദി(˵ •̀ ᴗ - ˵ )</h2>
<div class="standard_page">
  <div class="recipe">
          
            <article class="recipe_intro">
              <h2>Stuffed Peppers (vegetarian)</h2>
         <div class="recipe_img"><img src="/static/img/stuffed_peppers_unbaked.png" alt="unbaked stuffed peppers" /><img src="/static/img/stuffed_peppers_baked.png" alt="stuffed peppers in a pan" /> </div>
          <h4>(vegetarian, multi-night, big groups)</h4>
          <p>This is a good weeknight recipe, and depending on how much you make, usually lasts about three or 4 dinners. I usually have leftover filling, that you can freeze for future meals. For freezing, I suggest putting it in a freezer bag, flatten it out, and freeze it as a sheet so it's easier to reheat by baking. You can of course add ground meat, or fake meat for added texture if you'd like. Cooking the mushrooms this way makes them full of flavors and they make a nice substitute. I recommed portabello if you have them, but white mushrooms will work just fine too.</p>
          <p>Additional note: to make this vegan, just use vegan-approved cheese for the topping.</p>
          <p>Further additional note: IF you have shallot oil (oil made by cutting up shallots and frying them until they're just starting to crisp), use that to cook your mushrooms and other fillings. It will smell lovely, I promise. <em>Someone please make a candle for the kitchen that smells like shallot oil PLEASE</em></p></article>
          <h3>Filling Ingredients:</h3>
          <ul>
            <li>Container of mushrooms, about a pound</li>
            <li>Half an onion, diced</li>
            <li>Optional additional pepper for adding to filling</li>
            <li>Box of pilaf</li>
            <li>Garlic gloves, 5 or 6</li>
            <li>Basil</li>
            <li>Oregano</li>
            <li>Salt</li>
            <li>Pepper</li>
            <li>Tony's</li>
            </ul>
            <h3>Main Ingredients:</h3>
            <ul>
            <li>2 or 3 peppers, cut in half to make bowls and clean</li>
            <li>Spaghetti sauce (used Rao's roasted garlic)</li>
            <li>Vegetable broth</li>
            <li>Cheese mix</li></ul>
          <h3>Prep the Fillings:</h3>
          <ol>
              <li>Prep box of pilaf to cook while mushrooms are going. </li>
              <li>Cook mushrooms
            in cast iron until they start to get nice crispy parts.</li>
            <li>Add diced
            pepper, onion and garlic. Season with herbs and stir around.</li> <li>When
            the whole thing gets fried up again, add a tablespoon or two of the
            broth just to deglaze the pan and stir.</li>
          </ol>
             <h3>Prep the Oven-safe Pan</h3>
        <ol>
            <li>Get a large dish and add maybe a tablespoon or so of sauce to the
            bottom, not too much that you can't still see through it.</li>
            <li>Lay out
            pepper halves and sprinkle a small bit of cheese on them.</li>
        </ol>
             <h3>Assemble and Bake:</h3>
          <ol>
              <li>Combine veggie mixture with pilaf and most of the rest of the
            spaghetti sauce until it holds together and looks like you'd be fine
            to just eat it that way.</li>
            <li>Spoon into pepper bowls, nudge mixture into
            edges and almost overstuff.</li>
            <li>Drizzle about a spoonful of sauce on top
            of each and sprinkle more cheese. </li>
            <li>Add leftover stuffing in spaces
            around peppers and top with remaining leftover sauce.</li>
            <li>Add a
            tablespoon or two of veggie broth in pan around peppers.</li>
            <li>Cover with foil, leaving a little space at the top, and bake at 420 for about an hour, let cool and serve. You want the peppers to have gotten soft enough to cut with a fork, but <em>sorta</em> hold their shape on a plate.</li>
          </ol>
        <h3></h3>
        </div>
</div>

{% endblock %}
